// família tipografica
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');

// ESQUEMA DE CORES
// geral
$c-white: #FFFFFF;
$c-error: #F00000;
$c-black: #000000;
// cores
$c-blue: #194b85;
$c-blue_footer: #3c75b5;
$c-blue_dark: #113954;
$c-blue_light: #6894c5;
$c-green: #00976e;
$c-purple: #674664;
$c-orange: #e4933a; 
$c-orange_dark: #e28641;
$c-orange_light: #f0b749;
$c-dark_blue: #122130;
$c-marine_blue: #0ea5df;

// tons de cinza
$c-gray10: #F6F6F6;
$c-gray20: #EEEEEE;
$c-gray30: #D6D6D6;
$c-gray60: #A6A6A6;
$c-gray80: #565656;
$c-gray90: #060606;
